<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDisplayName</key>
	<string>Инженер</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Инженера</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Инженере</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>septon.LumaWork</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lumawork</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>map.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Маршрут на сегодня</string>
			<key>UIApplicationShortcutItemType</key>
			<string>septon.LumaWork.quick-action.home</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>checklist</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Активные заявки</string>
			<key>UIApplicationShortcutItemType</key>
			<string>septon.LumaWork.quick-action.requests</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>clock.badge.checkmark.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Трудозатраты</string>
			<key>UIApplicationShortcutItemType</key>
			<string>septon.LumaWork.quick-action.time-report</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>bubble.left.and.text.bubble.right.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Помощник</string>
			<key>UIApplicationShortcutItemType</key>
			<string>septon.LumaWork.quick-action.assistant</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Камера используется для фотографии профиля и вложений к вопросам помощнику.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID используется для безопасного входа в разделы «Зарплата» и «Админка».</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Микрофон используется для локальной диктовки вопросов помощнику.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Распознавание речи преобразует диктовку в текст непосредственно на устройстве.</string>
	<key>WIKI_API_TOKEN</key>
	<string>$(WIKI_API_TOKEN)</string>
	<key>DION_CHAT_URL</key>
	<string>$(DION_CHAT_URL)</string>
	<key>LUMAWORK_API_URL</key>
	<string>$(LUMAWORK_API_URL)</string>
	<key>WIKI_API_URL</key>
	<string>$(WIKI_API_URL)</string>
	<key>SIMPLEONE_API_URL</key>
	<string>$(SIMPLEONE_API_URL)</string>
	<key>SIMPLEONE_WEB_URL</key>
	<string>$(SIMPLEONE_WEB_URL)</string>
	<key>SIMPLEONE_PRIMARY_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_PRIMARY_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_CURRENT_REGION_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_CURRENT_REGION_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_CURRENT_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_CURRENT_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_CURRENT_USER_DYNAMIC_ID</key>
	<string>$(SIMPLEONE_CURRENT_USER_DYNAMIC_ID)</string>
	<key>SIMPLEONE_ASSIGNED_USER_DYNAMIC_ID</key>
	<string>$(SIMPLEONE_ASSIGNED_USER_DYNAMIC_ID)</string>
	<key>SIMPLEONE_RESOLVED_DATE_OPTION_ID</key>
	<string>$(SIMPLEONE_RESOLVED_DATE_OPTION_ID)</string>
	<key>SIMPLEONE_WRITE_OFF_DYNAMIC_ID</key>
	<string>$(SIMPLEONE_WRITE_OFF_DYNAMIC_ID)</string>
	<key>SIMPLEONE_CLOSED_MONTH_FIRST_OPTION_ID</key>
	<string>$(SIMPLEONE_CLOSED_MONTH_FIRST_OPTION_ID)</string>
	<key>SIMPLEONE_CLOSED_MONTH_SECOND_OPTION_ID</key>
	<string>$(SIMPLEONE_CLOSED_MONTH_SECOND_OPTION_ID)</string>
	<key>SIMPLEONE_SIMFEROPOL_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_SIMFEROPOL_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_SIMFEROPOL_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_SIMFEROPOL_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_ALUSHTA_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_ALUSHTA_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_ALUSHTA_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_ALUSHTA_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_YALTA_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_YALTA_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_YALTA_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_YALTA_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_EVPATORIA_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_EVPATORIA_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_EVPATORIA_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_EVPATORIA_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_KRASNOPEREKOPSK_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_KRASNOPEREKOPSK_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_KRASNOPEREKOPSK_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_KRASNOPEREKOPSK_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_DZHANKOY_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_DZHANKOY_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_DZHANKOY_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_DZHANKOY_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_FEODOSIA_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_FEODOSIA_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_FEODOSIA_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_FEODOSIA_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_KERCH_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_KERCH_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_KERCH_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_KERCH_COMPANY_LOCATION_ID)</string>
	<key>SIMPLEONE_SEVASTOPOL_ASSIGNMENT_GROUP_ID</key>
	<string>$(SIMPLEONE_SEVASTOPOL_ASSIGNMENT_GROUP_ID)</string>
	<key>SIMPLEONE_SEVASTOPOL_COMPANY_LOCATION_ID</key>
	<string>$(SIMPLEONE_SEVASTOPOL_COMPANY_LOCATION_ID)</string>
	<key>APP_SITE_URL</key>
	<string>$(APP_SITE_URL)</string>
	<key>FUEL_ARCHIVE_OWNER_EMAIL</key>
	<string>$(FUEL_ARCHIVE_OWNER_EMAIL)</string>
	<key>SUPPORT_EMAIL</key>
	<string>$(SUPPORT_EMAIL)</string>
	<key>TELEGRAM_APP_URL</key>
	<string>$(TELEGRAM_APP_URL)</string>
	<key>TELEGRAM_WEB_URL</key>
	<string>$(TELEGRAM_WEB_URL)</string>
	<key>MAPS_ROUTE_URL</key>
	<string>$(MAPS_ROUTE_URL)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>septon.LumaWork.simpleone-refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
