// Copy this file to Secrets.xcconfig and fill values locally.
LUMAWORK_API_URL =
WIKI_API_URL =
SIMPLEONE_API_URL =
SIMPLEONE_WEB_URL =
SIMPLEONE_PRIMARY_ASSIGNMENT_GROUP_ID =
SIMPLEONE_CURRENT_REGION_ASSIGNMENT_GROUP_ID =
SIMPLEONE_CURRENT_COMPANY_LOCATION_ID =
SIMPLEONE_CURRENT_USER_DYNAMIC_ID =
SIMPLEONE_ASSIGNED_USER_DYNAMIC_ID =
SIMPLEONE_RESOLVED_DATE_OPTION_ID =
SIMPLEONE_WRITE_OFF_DYNAMIC_ID =
SIMPLEONE_CLOSED_MONTH_FIRST_OPTION_ID =
SIMPLEONE_CLOSED_MONTH_SECOND_OPTION_ID =
SIMPLEONE_SIMFEROPOL_ASSIGNMENT_GROUP_ID =
SIMPLEONE_SIMFEROPOL_COMPANY_LOCATION_ID =
SIMPLEONE_ALUSHTA_ASSIGNMENT_GROUP_ID =
SIMPLEONE_ALUSHTA_COMPANY_LOCATION_ID =
SIMPLEONE_YALTA_ASSIGNMENT_GROUP_ID =
SIMPLEONE_YALTA_COMPANY_LOCATION_ID =
SIMPLEONE_EVPATORIA_ASSIGNMENT_GROUP_ID =
SIMPLEONE_EVPATORIA_COMPANY_LOCATION_ID =
SIMPLEONE_KRASNOPEREKOPSK_ASSIGNMENT_GROUP_ID =
SIMPLEONE_KRASNOPEREKOPSK_COMPANY_LOCATION_ID =
SIMPLEONE_DZHANKOY_ASSIGNMENT_GROUP_ID =
SIMPLEONE_DZHANKOY_COMPANY_LOCATION_ID =
SIMPLEONE_FEODOSIA_ASSIGNMENT_GROUP_ID =
SIMPLEONE_FEODOSIA_COMPANY_LOCATION_ID =
SIMPLEONE_KERCH_ASSIGNMENT_GROUP_ID =
SIMPLEONE_KERCH_COMPANY_LOCATION_ID =
SIMPLEONE_SEVASTOPOL_ASSIGNMENT_GROUP_ID =
SIMPLEONE_SEVASTOPOL_COMPANY_LOCATION_ID =
APP_SITE_URL =
FUEL_ARCHIVE_OWNER_EMAIL =
SUPPORT_EMAIL =
TELEGRAM_APP_URL =
TELEGRAM_WEB_URL =
MAPS_ROUTE_URL =
WIKI_API_TOKEN =
DION_CHAT_URL =
